:root {
    --branding-color: #6C63FF;
    --heading-fontfamily: "Playfair Display", serif;
    --paragraph-fontfamily: "Poppins", sans-serif;
    --bacground-color: #F9F7FE
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    margin-bottom: 100px;
}

h1, h2, h4, h5, h6 {
    color: black;
    font-family: var(--heading-fontfamily);
    font-weight: bold;
}

p {
    font-family: var(--paragraph-fontfamily);
}

.main {
    background: var(--bacground-color);
    text-align: center;
    padding: 100px 20px;
}

.index-nav {
    background: var(--bacground-color);
}

.index-nav .navbar {
    max-width: 1160px;
    margin: 0 auto;
}

.content-container {
    max-width: 1160px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container h3 {
    font-weight: 700;
    font-size: 18px;
}

.content-container p {
    font-size: 16px;
    margin-right: 50px;
}

.section {
    padding: 80px 20px;
}

.content-container img {
    margin-top: 30px;
    border-radius: 10px;
}

.main p {
    color: #272142;
    font-size: 36px;
    font-weight: bold;
    margin: 0
}

.main h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
    line-height: 85px
}

h3 {
    font-size: 24px;
    font-family: var(--paragraph-fontfamily);
    font-weight: normal;
}

.btn-branding {
    background: var(--branding-color);
    color: var(--bacground-color);
    border-radius: 4px;
    padding: 10px 20px;
    line-height: 27px;
    margin-top: 30px;

}

.content > p {
    font-size: 18px;
    line-height: 27px;
    margin: 120px 0 92px 0;
}

.btn-branding-project {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    padding: 10px 20px;
    line-height: 27px;
    margin-top: 30px;
}

.content-block {
    margin: 110px 40px;
}

.content-container .work {
    margin: 0;
}

.section h3 {
    font-size: 24px;
}

.logo {
    max-width: 150px;
}

.nav {
    padding: 20px;
}

.nav li {
    display: inline;
    list-style: none;
}

.footer-section-first {
    background: var(--bacground-color);
    border-radius: 10px;
    padding: 30px 120px;

}

.footer-section-first h4 {
    font-size: 58px;;
}

.footer-section-first a {
    padding: 18px 30px 18px 30px;
}

.footer-section-first p {
    font-size: 18px;
    line-height: 27px;
}

.email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--bacground-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    background: var(--branding-color);
    color: var(--bacground-color);
}

@media (max-width: 900px) {
    h2 {
        font-size: 44px;
    }

    .main h1 {
        font-size: 44px;
        line-height: 1.5;
    }

    .main {
        padding: 40px 20px;
    }

    .content-block {
        padding: 0;
        text-align: center;
    }

    .section {
        text-align: center;
        padding: 0;
    }
}